%h1 Reservation list

%table.table
  %thead
    %tr
      %th #Reservation
      %th Name
      %th Rooms
      %th Date from
      %th Date to
      %th Created at
  %tbody
    - @reservations.each do |reservation_room|
      %td
        = reservation_room.reservation_id
      %td
        Nom du client
      %td
      %td
        = reservation_room.date_from
      %td
        = reservation_room.date_to
      %td
        = reservation_room.created_at.to_date


