.section-header
  .header-title
    %h1 Welcome to Nagano Confort Inn
    %p Leave everything in our hands and take advantage.
.section-form
  .container-reservation-form
    %h2 Find your room and book it !
    = render "form_search_room"
#section-room.section-room
  %h2 Rooms
  .row
    .col-xs-6.col-md-3
      .thumbnail
        =image_tag "room_double_parking.jpg"
    .col-xs-6.col-md-3
      %p Contemporary and elegant, Nagano Confort Inn accommodations are designed with your comfort in mind and inspired by the sea, sun, and sand.
      %p It’s home away from home.
    .col-xs-6.col-md-3
      .thumbnail
        =image_tag "room_double_ocean.jpeg"
    .col-xs-6.col-md-3
      %p With spectacular oceanfront views and an exclusive designated beach cabana, these impressive 322 sq ft suites include a myriad luxurious amenities, as well as a walkout terrace providing direct access to the beach.
  %h4 Deep insight into the desires of travelers, thoughtful amenities include stocked minibars, furnished terraces, ocean views, room service from 7:00 am - 11:00 pm.
#section-services.section-services
  %h2 All services
  %table.table
    %tbody
      %tr
        %td
          %i.fa.fa-bed
        %td
          %h4 Sweet suites
        %td
          %i.fa.fa-thermometer-half
        %td
          %h4 Air conditioning
        %td
          %i.fa.fa-television
        %td
          %h4 Flat TV
      %tr
        %td
          %i.fa.fa-gift
        %td
          %h4 Gift shop
        %td
          %i.fa.fa-wifi
        %td
          %h4 Wifi in your room
        %td
          %i.fa.fa-phone
        %td
          %h4 Room service
      %tr
        %td
          %i.fa.fa-coffee
        %td
          %h4 Coffee shop
        %td
          %i.fa.fa-glass
        %td
          %h4 Cocktail bar
        %td
          %i.fa.fa-cutlery
        %td
          %h4 Restaurant
      %tr
        %td
          %i.fa.fa-bicycle
        %td
          %h4 Bicycle rental
        %td
          %i.fa.fa-plane
        %td
          %h4 Airport shuttle
        %td
          %i.fa.fa-wheelchair
        %td
          %h4 Wheelchair access
#contact.section-contact
  %h2 Contact
  .container
