!!! 5
%html
  %head
    %meta{:content => 'text/html', :charset => 'UTF-8', }
  %body
    %h1 Welcome to example.com, #{@customer.name}
    %p You have successfully signed up to example.com.
    %p To login to the site, just follow this link:
    = link_to "click here", login_path
    %p Thanks for joining and have a great day!