// Place all the styles related to the administration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar{
  height: 100vh;
  background-color: #eee;
  padding: 15px 0;
}

.active{
  background-color: #428bca;
  color: #eee;
}
