/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/*
 *= require jquery-ui
 *= require google_charts
 */

.navbar{
  border-radius: 0;
  margin-bottom: 0;
}

.main-container{
  margin-top: 50px;
}

.main{
  margin-left: 200px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  background-color: #222;
  text-align: center;
  color: #eee;
}

.ui-datepicker{
  background-color: #eee;
  font-size: 20px;
  .ui-datepicker-header{
    padding: 5px 10px;
    .ui-datepicker-next{
      float: right;
    }
  }
  th{
    padding: 5px;
  }
  td{
    padding-left: 5px;
  }
}


