// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #ef5734;
$white: #eee;

h2{
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.btn-light{
  color: $orange;
  border: 1px solid $orange;
  font-weight: bold;
  letter-spacing: .3em;
  transition: 0.3s;
  &:hover{
    background-color: $orange;
    color: $white;
  }
}

.btn-dark{
  background-color: $orange;
  border: 1px solid $white;
  color: $white;
  letter-spacing: .3em;
  transition: .3s;
  &:hover{
    background-color: $white;
    border: 1px solid $orange;
    color: $orange;
  }
}

.section-header{
  max-height: 700px;
  background-image: image_url("background.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .header-title{
    height: 100%;
    padding: 12% 7%;
    color: $white;
    h1{
      font-size: 4em;
      color: $orange;
    }
    p{
      font-size: 1.5em;
    }
  }
}

.container-reservation-form{
  background-color: $orange;
  border: 2px solid $white;
  border-radius: 5px;
  position: relative;
  bottom: 10rem;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 0 2em;
  color: $white;
}

.reservation-form{
  font-size: 18px;
  h2{
    text-align: center;
    margin-bottom: 1em;
  }
  .control-label{
    text-align: center;
  }
  .form-btn{
    width: 100%;
    font-weight: 800;
  }
  .form-number{
    text-align: center;
    font-size: 18px;
  }
  i{
    font-size: 35px;
  }

}

.section-room{
  clear: both;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  h2{
    position: relative;
    top: -2em;
  }
  img{
    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
  p{
    padding: 0 15px;
    &:first-of-type{
      margin-top: 100px;
    }
  }
  h4{
    text-align: center;
    padding: 50px;
  }
}

.section-services{
  background-color: rgba(0,0,0, 0.3);
  color: #eee;
  padding: 50px;
  letter-spacing: 0.2em;
  line-height: 1.5em;
  .table{
    max-width: 1000px;
    min-width: 700px;
    margin: 0 auto;
    td{
      padding: 15px;
      font-size: 20px;
      vertical-align: center;
      text-align: center;
      i{
        font-size: 30px;
        color: $orange;
      }
      h4{
        text-align: center;
      }
    }
  }
}

.section-contact{
  padding-top: 70px;
  height: 100vh;

}

.search-result{
  padding: 0 5%;
  h3{
    margin: 0;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: $orange;
    color: #eeeeee;
    font-weight: bold;
  }
  p{
      text-align: center;
  }
  .left{
    text-align: left;
  }
  .orange{
    text-align: center;
    font-weight: bold;
    color: $orange;
  }
  i{
    font-size: 35px;
    color: $orange;
  }

  p{
    margin-top: 10px;
    span{
      margin-left: 3px;
    }
  }
  .container-btn{
    padding-right: 0;
  }
}

.container-login-form{
  padding-top: 100px;
}

.log-form{
  margin: 0 auto;
  width: 400px;
  .btn{
    margin: 20px 0;
  }
  h3{
    text-align: center;
  }
}

.signup-form{
  margin: 100px auto;
  .btn{
    margin: 20px 0;
  }
  h3{
    text-align: center;
  }
}




