// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #ef5734;
$white: #eee;


.section-header{
  height: 700px;
  background-image: image_url("background.jpg") ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .jumbotron{
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    padding: 12% 7%;
    color: $white;
    h1{
      font-size: 5em;
      color: $orange;
    }
  }
}

.container-reservation-form{
  background-color: $orange;
  border: 2px solid $white;
  border-radius: 5px;
  position: relative;
  top: -15em;
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  padding: 0 2em;
  color: $white;
  h2{
    text-align: center;
    margin-bottom: 1em;
  }
  .control-label{
    text-align: center;
  }
  .btn{
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    letter-spacing: .3em;
    transition: .3s;
    &:hover{
      background-color: $white;
      border: 1px solid $white;
      color: $orange;
    }
  }

}
