// Place all the styles related to the rate_periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table{
  margin: 20px auto;
  width: 90%;
  th{
    background-color: #eee;
  }
  .btn{
    width: 49%;
  }

  .btn-lg{
    width: 100%;
  }
}

.ui-datepicker{
  background-color: #eee;
  font-size: 20px;
  .ui-datepicker-header{
    padding: 5px 10px;
    .ui-datepicker-next{
      float: right;
    }
  }
  th{
    padding: 5px;
  }
}
