// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-container{
  overflow-x: auto;

  .table{
    th{
      width: 50%;
    }
    .align-right{
      text-align: right;
    }
    .panel-heading{
      height: 100px;
    }
    .panel-body{
      height: 300px;
    }
    .panel-default{
      margin: 0 auto;
      min-width: 250px;
      max-width: 300px;
    }
  }
}

.room-show{
  display: inline-block;
}


.status{
  margin-top: 10px;
  float: right;
  text-align: center;
  font-size: large;
  .orange{
    color: orange;
  }
  .green{
    color: lightgreen;
  }
  .red{
    color: red;
  }
}

.btn-status{
  color: white;
}

.btn-orange{
  background-color: orange;
}

.btn-green{
  background-color: green;
}

.btn-red{
  background-color: red;
}