// Place all the styles related to the RoomPricings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table{
  margin: 20px auto;
  .t-center{
    text-align: center;
  }
  th{
    background-color: #eee;
    vertical-align: middle !important;
  }
  .td-price{
    text-align: center;
    width: 100px;
  }
  td{
    vertical-align: middle !important;
  }
  .red{
    color: red;
  }
  .green{
    color: lightgreen;
  }
  .btn{
    width: 48%;
  }
  .btn-lg{
    width: 100%;
  }
}

.form-group{
  h4{
    text-align: center;
  }
  h5{
    text-align: right;
    font-weight: bold;
  }
}

.ui-datepicker{
  background-color: #eee;
  font-size: 20px;
  .ui-datepicker-header{
    padding: 5px 10px;
    .ui-datepicker-next{
      float: right;
    }
  }
  th{
    padding: 5px;
  }
}
