$orange: #ef5734;

.shopping-cart{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: $orange;
  color: #eeeeee;
  font-weight: bold;
  span{
    float: right;
    a{
      text-decoration: none;
      color: #eeeeee;
      &:hover{
        text-decoration: none;
        color: lightgray;
      }
    }
  }
}

p{
  margin-top: 10px;
  font-size: 1.2em;
}

.align-right{
  text-align: right;
}


.orange{
  font-weight: bold;
  color: $orange;
}

.final-price{
  text-align: center;
  font-size: 1.4em;
  background-color: lightgray;
  border-radius: 5px;
}


h6{
  text-align: left;
  font-size: 1.4em;
}

form{
  padding: 15px;
}